.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Add global styles that match the Oraclase theme */
body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f7f7f7;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 5px 0;
}

/* Responsive Design */
@media (max-width: 768px) {
  .App-logo {
    height: 80px;
  }

  .footer {
    font-size: 0.8em;
  }

  .kickstarterButton {
    font-size: 0.9em;
    padding: 10px 20px;
  }

  .dropzoneAndImageContainer {
    flex-direction: column;
  }

  .dropzone {
    max-width: 300px;
  }

  .image {
    max-width: 90%;
    max-height: 300px;
  }
}
